.percent-label.svelte-h0vqv3 {
    display: inline !important;
}

.amount-required-label {
    margin-left: 10px;
	font-size: var(--text-size-base);
	font-weight: 550;
}

.amount-spent-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-shadow: 1px 1px 2px white;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 0 5px;
	font-size: var(--text-size-base);
	font-weight: 550;
}
